<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699857062473-8ivseijpljniua13godm5273f64g446l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699857062473-8ivseijpljniua13godm5273f64g446l</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQ1cqjlUz2ynP0nB3_V5W0FAwh7vjaO0</string>
	<key>GCM_SENDER_ID</key>
	<string>699857062473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmg.TryFastlane</string>
	<key>PROJECT_ID</key>
	<string>tryfastlane-f07e9</string>
	<key>STORAGE_BUCKET</key>
	<string>tryfastlane-f07e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699857062473:ios:6cf9469c5734db02</string>
	<key>DATABASE_URL</key>
	<string>https://tryfastlane-f07e9.firebaseio.com</string>
</dict>
</plist>